/* Sets the placement and width of the NavBar */
.hero {
    width: 100%;
    margin-left: 0px;
    padding-left: 0px;
    height: 150px;
}

/* Styles the text in the header */
#name {
    font-size: 65px;
    float: none;
    position: absolute;
    top: 20%;
    left: 35%;
}

/* Styles the text that informs the user */
#instruction {
    font-size: 30px;
}

/* Trying to reduce the top margin of the input form in relation to the NavBar */
/* .field {
    margin-top: 0px;
} */

/* Styles the input forms */
#input-form {
    margin-top: 70px;
}

.input {
    height: 20px;
}

/* Sets the width of the input boxes */
.control {
    width: 15%;
}

/* Sets space between the input boxes and the buttons */
.button {
    margin-top: 5px;
}

/* Sets the bottom margin */
#first-button {
    margin-bottom: 10px;
}