/* Element Selector */
/* Styles the main section of the webpage */
main {
    background-color: rgb(7, 41, 68); 
    height: 100%;
    overflow: auto;
    padding-bottom: 7.5%;
}

/* Centering the modal content */
.modal-content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Class Selector */
/* Sets the placement and width of the NavBar */
.hero {
    width: 100%;
    margin-left: 0px;
    padding-left: 0px;
    height: 150px;
    /* Leaving the box-shadow creates the grey line between the NavBar and the main section of the webpage. Thoughts? */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    
}

/*Styles the logo on top of the application*/
img {
    margin-bottom: 20px;
    margin-left: 37%;
    width: 500px;
}


/* ID Selectors */
/* Styles the text in the header */
#name {
    font-size: 65px;
    float: none;
    position: absolute;
    top: 20%;
    left: 41%;
    color: rgb(26, 26, 26);
    font-family: fantasy;

}


/* Styles the text that informs the user */
#instruction {
    font-size: 30px;
    color: rgb(206, 231, 65);
}

/* Class Selector */
/* Sets the margins of the input form and submit button in relation to the body */
.field {
    margin-top: 30%;
    margin-left: 40%;
}

/* ID Selectors */
#input-form {
    margin-top: 10px;
    margin-left: 50px;
}

/* Sets styling of longitude parameter */
#longitude {
    margin-bottom: 5px;
    background-color: rgb(177, 177, 158);
    font-weight: bold;
    color: rgb(48, 48, 27);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

/* Sets styling for latitude parameter */
#latitude {
    background-color: rgb(177, 177, 158);
    font-weight: bold;
    color: rgb(48, 48, 27);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

/* Styles input when user searches in input box */
#city {
    margin-bottom: 5px;
    background-color: rgb(177, 177, 158);
    font-weight: bold;
    color: rgb(48, 48, 27);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

/* Class Selector */
.button {
    margin-top: 15px;
}

.results {
    background-color: lightgray; 
    border: none; 
    padding: 8px; 
    font-size: 16px; 
}

.label2 {
    color: rgba(240, 248, 255, 0.673);
}

/* Id Selector */
#submit-button {
    height: 40px;
    width: 140px;
    background-color: rgb(143, 209, 79);
    color: black;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

}


#result-text {
    background-color: rgb(50, 180, 240);
    color: rgb(0, 0, 0);
    max-width: 53%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 5px;
    padding-left: 3.9%;
    padding-right: 3.9%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    margin-top: 10%;
    margin-left: 30%;
    font-size: 22px;
}

/* Class Selector */
.control {
    width: 53%;
    margin-bottom: 5%;
}

#result-box {
    font-weight: bold;
    margin-top: 3%;
    margin-left: 30%;
    color: white;
}

/* Styles the text of the results for mid grade */
#midGrade, #premium, #gasoline, #diesel {
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 5px;
    color: antiquewhite;
    background-color: rgb(48, 48, 27);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

/* Rounds the corners of the map */
#map-result {
    margin-block: 2%;
    width: 100%;
    height: 600px; 
    border-radius: 50%;
    background: #4679BD;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
    border-color: rgb(206, 231, 65);
    border-width: 5px;
    border-style: solid;
}

/* Styles the user input that is displayed to the screen */
#user-city { 
    font-weight: bold;
    color: antiquewhite;
}

/*Styles search history scroll box*/
#scroll {
    margin-top: 5%;
    background-color: rgb(48, 48, 27);
    border-radius: 5%;
    scrollbar-track-color: black;
}

/* Class Selector */
/*Styles "Search History" header*/
.history{
    margin-top: 20%;
    font-size: 19px;
    background-color: rgb(50, 180, 240);
    color: rgb(0, 0, 0);
    border-radius: 5px;
    max-width: 67%;
    padding-left: 5.1%;
}

/* Makes the instructions text and input form responsive to change */
@media (min-width: 300px) {
    .field {
        margin-left: 90px;
    }
  }
  
/* Makes the map responsive to window resizing */
@media (min-width: 300px) {
    #map-result {
        margin-left: 5px;
        width: 100%
    }
  
  }

  @media (min-width: 1025px) {
    #map-result {
        margin-left: 5px;
    }
  }

   /* Makes the Gasoline Price text (and box) and Gas results responsive to window resizing */
   @media (min-width: 300px) {
    .column,
    #result-text,
    #result-box {
        margin-left: 70px;
    }
  #gasoline-text {
    padding-left: 4px;
  }
  }

  /* Makes the Gasoline Price text responsive to screen resize */
  @media (min-width: 1025px) {
    #gasoline-text {
        padding-left: 1px;
    }
  }

  /* Makes the logo image responsive to screen resize */
  @media (min-width: 300px) {
    #img {
        max-width: 50%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;

    }
  }

 